@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: 'DotGothic16', sans-serif;
    --text-color: black;
    --border-color: #ccc;
    --ui-brand-color: #f5a623;
    --background-color: rgb(50, 206, 211);
}

img {
    display: block;
    width: 100%;
}


.container {
    max-width: 980px;
    margin: auto;
}
